- Which degrees have the highest starting salaries?  
- Which majors have the lowest earnings after college?
- Which degrees have the highest earning potential? 
- What are the lowest risk college majors from an earnings standpoint? 
- Do business, STEM (Science, Technology, Engineering, Mathematics) or HASS (Humanities, Arts, Social Science) degrees earn more on average?

# Pandas import etme

In [18]:
import pandas as pd

In [19]:
df = pd.read_csv("salaries_by_college_major.csv")

In [20]:
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [21]:
df.info()
# 1 Satırda Undergraduate Major hariç tüm değerler boş o yüzden bu satırı düşüreceğiz

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Undergraduate Major                51 non-null     object
 1   Starting Median Salary             50 non-null     float64
 2   Mid-Career Median Salary           50 non-null     float64
 3   Mid-Career 10th Percentile Salary  50 non-null     float64
 4   Mid-Career 90th Percentile Salary  50 non-null     float64
 5   Group                              50 non-null     object
dtypes: float64(4), object(2)
memory usage: 2.5+ KB

#### NaN Değerli satırı düşürme

In [22]:
df = df.dropna()

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Undergraduate Major                50 non-null     object
 1   Starting Median Salary             50 non-null     float64
 2   Mid-Career Median Salary           50 non-null     float64
 3   Mid-Career 10th Percentile Salary  50 non-null     float64
 4   Mid-Career 90th Percentile Salary  50 non-null     float64
 5   Group                              50 non-null     object
dtypes: float64(4), object(2)
memory usage: 2.7+ KB

## En Yüksek Başlangıç Maaşlı Bölüm

In [27]:
df.sort_values(by="Starting Median Salary", ascending=False)["Undergraduate Major"].head(1)
# Physician Assistanf

43    Physician Assistant
Name: Undergraduate Major, dtype: object

## En Düşük Başlangıç Maaşlı Bölüm

In [29]:
df.sort_values(by="Starting Median Salary")["Undergraduate Major"].head(1)
# Spanish

49    Spanish
Name: Undergraduate Major, dtype: object