# Görev 1:  Verilen değerlerin veri yapılarını inceleyiniz.

In [1]:
x = 8
y = 3.2
z = 8j + 18
a = "Hello World"
b = True
c = 23 < 22
l = [1, 2, 3, 4]
d = {"name":"Jake","Age":27,
     "Adress":"Downtown"}
t = ("Machine Learning","Data Science")
s = {"Python"," Machine Learning", "Data Science"}

In [2]:
type(x)

int

In [3]:
type(y)

float

In [4]:
type(z)

complex

In [5]:
type(a)

str

In [6]:
type(b)

bool

In [7]:
type(c)

bool

In [8]:
type(l)

list

In [9]:
type(d)

dict

In [10]:
type(t)

tuple

In [11]:
type(s)

set

# Görev 2:  Verilen string ifadenin tüm harflerini büyük harfe çeviriniz. Virgül ve nokta yerine space koyunuz, kelime kelime ayırınız.

In [12]:
text = "The goal is to turn data into information, and information into insight"

In [13]:
text.split()

['The',
 'goal',
 'is',
 'to',
 'turn',
 'data',
 'into',
 'information,',
 'and',
 'information',
 'into',
 'insight']

# Görev 3: Verilen listeye aşağıdaki adımları uygulayınız.

In [14]:
lst = ["D", "A", "T", "A", "S", "C", "I", "E", "N", "C", "E"]
# Adım 1: Verilen listenin eleman sayısına bakınız.
# Adım 2: Sıfırıncı ve onuncu indeksteki elemanları çağırınız.
# Adım 3: Verilen liste üzerinden ["D", "A", "T", "A"] listesi oluşturunuz.
# Adım 4: Sekizinci indeksteki elemanı siliniz.
# Adım 5: Yeni bir eleman ekleyiniz.
# Adım 6: Sekizinci indekse "N" elemanını tekrar ekleyiniz.

In [15]:
len(lst)

11

In [16]:
print(lst[0], lst[10])

D E

In [17]:
lst[0:4]

['D', 'A', 'T', 'A']

In [19]:
lst.pop(8)

'N'

In [20]:
lst.append("F")

In [21]:
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E', 'F']

In [23]:
lst.insert(8, "N")

In [24]:
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', 'F']

# Görev 4:   Verilen sözlük yapısına aşağıdaki adımları uygulayınız

In [25]:
dct = {"Christian": ["America", 18],
       "Daisy":["England",12],
       "Antonio":["Spain",22],
       "Dante":["Italy",25]}
# Adım 1: Key değerlerine erişiniz.
# Adım 2: Value'lara erişiniz.
# Adım 3: Daisy key'ine ait 12 değerini 13 olarak güncelleyiniz.
# Adım 4: Key değeri Ahmet value değeri [Turkey,24] olan yeni bir değer ekleyiniz.
# Adım 5: Antonio'yu dictionary'den siliniz.

In [26]:
dct.keys()

dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])

In [27]:
dct.values()

dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])

In [29]:
dct["Daisy"][1]=13
dct["Daisy"]

['England', 13]

In [30]:
dct["Ahmet"] = ["Turkey",24]
dct["Ahmet"]

['Turkey', 24]

In [32]:
dct.pop("Antonio")
dct.keys()

dict_keys(['Christian', 'Daisy', 'Dante', 'Ahmet'])

# Görev 5: Argüman olarak bir liste alan, listenin içerisindeki tek ve çift sayıları ayrı listelere atayan ve bu listeleri return eden fonksiyon yazınız.Liste elemanlarına tek tek erişmeniz gerekmektedir. Her bir elemanın çift veya tek olma durumunu kontrol etmekiçin  % yapısını kullanabilirsiniz.

In [37]:
def fnc(l):
    even_list = []
    odd_list = []
    for num in l:
        if num % 2==0:
            even_list.append(num)
        else:
            odd_list.append(num)
    return even_list, odd_list

In [38]:
even_list, odd_list = fnc([1,4,2,5,8,12,45,23,15,31,52,42,12,76])

In [39]:
even_list

[4, 2, 8, 12, 52, 42, 12, 76]

In [40]:
odd_list

[1, 5, 45, 23, 15, 31]

# Görev 6: Aşağıda verilen listede mühendislik ve tıp fakülterinde dereceye giren öğrencilerin isimleri bulunmaktadır. Sırasıyla ilk üç öğrenci mühendislik fakültesinin başarı sırasını temsil ederken son üç öğrenci de  tıp fakültesi öğrenci sırasına aittir. Enumarate kullanarak öğrenci derecelerini fakülte özelinde yazdırınız.

In [41]:
ogrenciler = ["Ali", "Veli", "Ayşe", "Talat", "Zeynep", "Ece"]

In [42]:
for sayac,ogrenci in enumerate(ogrenciler, start=1):
    if sayac<4:
        print(f"Mühendislik Fakültesi {sayac}. öğrenci: {ogrenci}")
    else:
        print(f"Tıp Fakültesi {sayac-3}. öğrenci: {ogrenci}")

Mühendislik Fakültesi 1. öğrenci: Ali
Mühendislik Fakültesi 2. öğrenci: Veli
Mühendislik Fakültesi 3. öğrenci: Ayşe
Tıp Fakültesi 1. öğrenci: Talat
Tıp Fakültesi 2. öğrenci: Zeynep
Tıp Fakültesi 3. öğrenci: Ece

# Görev 7: Aşağıda 3 adet liste verilmiştir. Listelerde sırası ile bir dersin kodu, kredisi ve kontenjan bilgileri yer almaktadır. Zip kullanarak ders bilgilerini bastırınız

In [43]:
ders_kodu = ["CMP1005", "PSY1001", "HUK1005", "SEN2204"]
kredi = [3,4,2,4]
kontenjan = [30, 75, 150, 25]

In [47]:
for i in zip(ders_kodu, kredi, kontenjan):
    print(f"Kredisi {i[1]} olan {i[0]} kodlu dersin kontenjanı {i[2]} kişidir.")

Kredisi 3 olan CMP1005 kodlu dersin kontenjanı 30 kişidir.
Kredisi 4 olan PSY1001 kodlu dersin kontenjanı 75 kişidir.
Kredisi 2 olan HUK1005 kodlu dersin kontenjanı 150 kişidir.
Kredisi 4 olan SEN2204 kodlu dersin kontenjanı 25 kişidir.

# Görev 8: Aşağıda 2 adet set verilmiştir. Sizden istenilen eğer 1. küme 2. kümeyi kapsiyor ise ortak elemanlarını eğer kapsamıyor ise 2. kümenin 1. kümeden farkını yazdıracak fonksiyonu tanımlamanız beklenmektedir.

In [48]:
kume1 = set(["data","python"])
kume2 = set(["data","function","qcut","lambda","python","miuul"])

In [51]:
if kume1.issuperset(kume2):
    print(kume1.intersection(kume2))
else:
    print(kume2.difference(kume1))

{'lambda', 'qcut', 'function', 'miuul'}