**SaleId** : Satışid
**SaleDate** : SatışTarihi
**Price** : Satışiçin ödenen fiyat
**ConceptName**: Otel konsept bilgisi
**SaleCityName**: Otelin bulunduğu şehir bilgisi
**CheckInDate** : Müşterinin otele girişi tarihi
**CInDay**: Müşterinin otele girişgünü
**SaleCheckInDayDiff**: Check in ile giriştarihi gün farkı
**Season**: Otele giriştarihindeki sezon bilgisi

# Soru 1 :  miuul_gezinomi.xlsx dosyasını okutunuz ve veri seti ile ilgili genel bilgileri gösteriniz.

In [2]:
import pandas as pd
import numpy as np
df = pd.read_excel("miuul_gezinomi.xlsx")

In [2]:
df.head()

,SaleId,SaleDate,CheckInDate,Price,ConceptName,SaleCityName,CInDay,SaleCheckInDayDiff,Seasons
0,415122,2022-12-03,2022-12-03,79.304029,Herşey Dahil,Antalya,Saturday,0,Low
1,415103,2022-12-03,2022-12-03,45.970696,Yarım Pansiyon,Antalya,Saturday,0,Low
2,404034,2022-09-12,2022-09-13,77.838828,Herşey Dahil,Antalya,Tuesday,1,High
3,415094,2022-12-03,2022-12-10,222.710623,Yarım Pansiyon,İzmir,Saturday,7,Low
4,414951,2022-12-01,2022-12-03,140.476190,Yarım Pansiyon,İzmir,Saturday,2,Low

In [7]:
df.shape

(59164, 9)

In [8]:
df.ndim

2

In [12]:
cat_cols = [col for col in df.columns if df[col].dtype == object]
cat_cols

['ConceptName', 'SaleCityName', 'CInDay', 'Seasons']

In [15]:
for col in cat_cols:
    print(df[col].value_counts())
    print("- - - \n")

ConceptName
Herşey Dahil      53186
Yarım Pansiyon     3559
Oda + Kahvaltı     2419
Name: count, dtype: int64
- - -

SaleCityName
Antalya    31649
Muğla      10662
Aydın      10646
Diğer       3245
İzmir       2507
Girne        455
Name: count, dtype: int64
- - -

CInDay
Monday       12794
Saturday      9967
Friday        8683
Thursday      7314
Sunday        7050
Tuesday       6807
Wednesday     6549
Name: count, dtype: int64
- - -

Seasons
High    50946
Low      8218
Name: count, dtype: int64
- - -

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59164 entries, 0 to 59163
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   SaleId              59164 non-null  int64
 1   SaleDate            59164 non-null  datetime64[ns]
 2   CheckInDate         59164 non-null  datetime64[ns]
 3   Price               59151 non-null  float64
 4   ConceptName         59164 non-null  object
 5   SaleCityName        59164 non-null  object
 6   CInDay              59164 non-null  object
 7   SaleCheckInDayDiff  59164 non-null  int64
 8   Seasons             59164 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(2), object(4)
memory usage: 4.1+ MB

# Soru 2: Kaç unique şehir vardır? Frekansları nedir?

In [17]:
df["SaleCityName"].unique()

array(['Antalya', 'İzmir', 'Diğer', 'Aydın', 'Muğla', 'Girne'],
      dtype=object)

In [18]:
df["SaleCityName"].nunique()

6

In [19]:
df["SaleCityName"].value_counts()

SaleCityName
Antalya    31649
Muğla      10662
Aydın      10646
Diğer       3245
İzmir       2507
Girne        455
Name: count, dtype: int64

# Soru 3: Kaç unique Concept vardır?

In [4]:
df["ConceptName"].head()

0      Herşey Dahil
1    Yarım Pansiyon
2      Herşey Dahil
3    Yarım Pansiyon
4    Yarım Pansiyon
Name: ConceptName, dtype: object

In [5]:
df["ConceptName"].unique()

array(['Herşey Dahil', 'Yarım Pansiyon', 'Oda + Kahvaltı'], dtype=object)

In [6]:
df["ConceptName"].nunique()

3

# Soru 4: Hangi Concept’den kaçar tane satışgerçekleşmiş?

In [7]:
df["ConceptName"].value_counts()

ConceptName
Herşey Dahil      53186
Yarım Pansiyon     3559
Oda + Kahvaltı     2419
Name: count, dtype: int64

# Soru 5: Şehirlere göre satışlardan toplam ne kadar kazanılmış?

In [12]:
df.groupby("SaleCityName").agg({"Price":"sum"})

                     Price
SaleCityName
Antalya       2.041911e+06
Aydın         5.732960e+05
Diğer         1.545723e+05
Girne         2.706503e+04
Muğla         6.658422e+05
İzmir         1.659348e+05

# Soru 6: Concept türlerine göre göre ne kadar kazanılmış?

In [13]:
df.groupby("ConceptName").agg({"Price":"sum"})

                       Price
ConceptName
Herşey Dahil    3.332911e+06
Oda + Kahvaltı  1.213084e+05
Yarım Pansiyon  1.744024e+05

# Soru 7: Şehirlere göre PRICE ortalamaları nedir?

In [16]:
df.groupby("SaleCityName").agg({"Price":"mean"})

                  Price
SaleCityName
Antalya       64.521474
Aydın         53.855896
Diğer         47.707497
Girne         59.483579
Muğla         62.461746
İzmir         66.267905

# Soru 8: Conceptlere göre PRICE ortalamaları nedir?

In [17]:
df.groupby("ConceptName").agg({"Price":"mean"})

                    Price
ConceptName
Herşey Dahil    62.672260
Oda + Kahvaltı  50.252010
Yarım Pansiyon  49.030742

# Soru 9: Şehir-Concept kırılımında PRICE ortalamaları nedir?

In [29]:
df.groupby(["SaleCityName", "ConceptName"])["Price"].mean()

SaleCityName  ConceptName
Antalya       Herşey Dahil      64.519028
              Oda + Kahvaltı    63.504816
              Yarım Pansiyon    67.190613
Aydın         Herşey Dahil      53.995467
              Oda + Kahvaltı    34.458787
              Yarım Pansiyon    30.016543
Diğer         Herşey Dahil      84.771093
              Oda + Kahvaltı    37.599082
              Yarım Pansiyon    42.113440
Girne         Herşey Dahil      97.680970
              Oda + Kahvaltı    39.775536
              Yarım Pansiyon    53.247838
Muğla         Herşey Dahil      63.020053
              Oda + Kahvaltı    59.037763
              Yarım Pansiyon    45.120924
İzmir         Herşey Dahil      74.701519
              Oda + Kahvaltı    41.320342
              Yarım Pansiyon    59.610053
Name: Price, dtype: float64